.event-details-box {
  min-height: 700px;
  background-color: var(--button-secondary-color);
}

.description .text.collapsed {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.description .text.expanded {
  display: block;
}

.event-tags {
  background-color: var(--accent-dark);
}

.event-map {
  height: 16vw;
  overflow: hidden;
}