.game-page {
    display: flex;
}

.game-image {
    max-width: 350px;
    text-align: left;
    padding-right: 20px;
}

.basic-info {
    display: flex;
    padding-bottom: 5px;
}

.basic-info-item {
    padding-right: 15px;
    font-size: 1.2em;
}

.bold-text {
    font-weight: bold;
}

.boardgame-img {
    max-width: 350px;
    padding-right: 20px;
}
