.container{
    display: flex;
}

.game-page{

}

.game-image{
    max-width: 350px;
    text-align: left;
    padding-right: 20px;
}

.basic-info{
    display: flex;
    padding-bottom: 5px;
}

.basic-info-item{
    padding-right: 15px;
    font-size: 1.2em;
}

.bold-text {
    font-weight: bold; /* Make the text bold */
}