@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap');

.navbar-logo {
  width: 40px;
  height: 40px;
}

.site-name {
  font-size: 1.5rem;
  font-family: "Gothic A1", sans-serif;
  font-weight: bold;
}

.wip-badge {
  font-size: 0.75rem;
  color: #fff;
  background-color: #f00;
  padding: 2px 6px;
  border-radius: 3px;
  margin-top: -10px;
}

.search-suggestions {
  max-height: 300px;
  overflow-y: auto;
  z-index: 1000;
  color: #fff;
  background-color: #343a40;
  border: 1px solid #444;
}

.search-suggestions .list-group-item {
  cursor: pointer;
  background-color: #343a40;
  color: #fff;
}

.search-suggestions .list-group-item:hover {
  background-color: #495057;
}

.form-control,
.form-select {
  background-color: #343a40;
  color: #fff;
  border: 1px solid #444;
}

.form-control:focus,
.form-select:focus {
  background-color: #343a40;
  color: #fff;
}

.form-control::placeholder,
.form-select::placeholder {
  color: #aaaaaa;
}

.optgroup {
  font-weight: bold;
}

@media (min-width: 992px) {
  .form-search {
    width: 40vw;
  }
}

@media (max-width: 767.98px) {
  .form-search {
    width: 90vw;
  }

  .navbar-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .navbar-collapse {
    justify-content: center;
  }

  .navbar-nav .nav-item .nav-link {
    width: 100%;
    text-align: center;
  }

  .form-select, .form-control {
    width: 100%;
  }

  .form-control {
    margin-bottom: 0;
  }
}

.navbar-nav {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.navbar-nav .nav-link {
  font-size: 1.1rem;
  color: white;
  margin-left: 15px;
}

.navbar-nav .nav-link:hover {
  background-color: #575757;
  border-radius: 5px;
}

.navbar-nav .nav-link .me-2 {
  font-size: 1.2rem;
}
