@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap');

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.form-search {
  margin-top: 5px;
}

.search-suggestions {
  z-index: 1001;
}

body {
  padding-top: 70px;
}

.navbar-logo {
  width: 40px;
  height: 40px;
}

.site-name {
  font-size: var(--font-size-large);
  font-family: 'Gothic A1', sans-serif;
  font-weight: bold;
}

.wip-badge {
  font-size: var(--font-size-badge);
  color: #ffffff;
  background-color: #ff5733;
  padding: 2px 6px;
  border-radius: var(--border-radius-small);
  margin-top: -10px;
}

.search-suggestions {
  max-height: 300px;
  overflow-y: auto;
  z-index: 1000;
  color: var(--text-color-light);
  background-color: var(--background-color-dark-light);
  border: 1px solid var(--border-color-dark);
}

.search-suggestions .list-group-item {
  cursor: pointer;
  background-color: var(--background-color-dark-light);
  color: var(--text-color-light);
}

.search-suggestions .list-group-item:hover {
  background-color: var(--hover-background-color);
}

.form-control,
.form-select {
  background-color: var(--background-color-dark-light);
  color: var(--text-color-light);
  border: 1px solid var(--border-color-dark);
}

.form-control:focus,
.form-select:focus {
  background-color: var(--background-color-dark-light);
  color: var(--text-color-light);
}

.form-control::placeholder,
.form-select::placeholder {
  color: var(--text-color-light-medium);
}

.optgroup {
  font-weight: bold;
}

@media (min-width: 992px) {
  .form-search {
    width: 40vw;
  }
}

@media (max-width: 767.98px) {
  .form-search {
    width: 90vw;
  }

  .navbar-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .navbar-collapse {
    justify-content: center;
  }

  .navbar-nav .nav-item .nav-link {
    width: 100%;
    text-align: center;
  }

  .form-select,
  .form-control {
    width: 100%;
  }

  .form-control {
    margin-bottom: 0;
  }
}

.navbar-nav {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.navbar-nav .nav-link {
  font-size: var(--font-size-medium);
  color: var(--text-color-light);
  margin-left: 15px;
}

.navbar-nav .nav-link:hover {
  background-color: var(--hover-background-color);
  border-radius: var(--border-radius);
}

.navbar-nav .nav-link .me-2 {
  font-size: var(--font-size-medium);
}

.form-button {
  background-color: var(--background-color-dark-light);
  border-color: var(--border-color-dark);
}

.user-dropdown {
  display: flex;
  position: absolute;
  width: 300px;
  right: 0;
}

.nav-user-profile-link {
  font-size: var(--font-size-medium);
  color: var(--text-color-light);
  width: 100%;
  text-decoration: none;
}

.nav-user-profile-link:hover {
  background-color: var(--hover-background-color);
  border-radius: var(--border-radius);
}

.big-avatar {
  width: 100px;
  height: 80px;
}

.small-avatar {
  width: 40px;
  height: 40px;
}
