.card {
  min-width: 200px;
  max-width: 200px;
}

.card-img-top {
  transition: transform var(--transition);
  cursor: pointer;
}

.card-img-top:hover {
  transform: scale(1.05);
}

.card-title {
  transition: color var(--transition);
  cursor: pointer;
}

.card-title:hover {
  color: var(--hover-background-color);
}
