.form-label {
  color: var(--text-color-light);
  font-size: var(--font-size-small);
}



.form-group input::placeholder {
  color: var(--text-color-light);
  opacity: 0.3;
  font-size: var(--font-size-small);
}

.form-group .wrong-input {
  border-color: var(--text-color-error);
}

.form-group p {
  font-size: var(--font-size-small);
  color: var(--text-color-error);
}

.login-tooltip {
  color: var(--text-color-light);
}
