.friend-tile img {
  transition: 0.3s;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.event-image img {
  transition: 0.3s;
  width: 200px;
}

.event-image img:hover, .friend-tile img:hover {
  transform: scale(1.1);
}