.filter-group {
  margin-bottom: 1rem;
}

.filter-header {
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: var(--text-color-light);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-options {
  margin-left: 1rem;
}

.form-check-label {
  color: var(--text-color-light);
}
