@import url('https://fonts.googleapis.com/css2?family=Quantico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --background-color-dark-light: #2d2d2d;
  --background-color-dark-medium: #1e1e1e;
  --background-color-dark-heavy: #0B0914;

  --text-color-light: #EDECF5;
  --text-color-light-medium: #b0b0b0;
  --text-color-dark: #e0e0e0;
  --text-color-warning: #ffc107;
  --text-color-error: #ff0000ff;
  --text-color-link: #cbb4ff;

  --border-color: #333;
  --border-color-light: #6c757d;
  --border-color-dark: #444;
  --additional-gray: #3F3D56;

  --button-primary-color: #B3A7F0;
  --button-secondary-color: #0E0E1B;

  --accent-dark: #1B163C;
  --accent-bright: #5B41EC;

  --highlight-color: #9a5fff;

  --hover-background-color: #575757;
  --scrollbar-thumb: #444;
  --scrollbar-thumb-hover: #555;

  --font-size-badge: 0.75rem;
  --font-size-small: 12px;
  --font-size-medium: 1.2em;
  --font-size-large: 1.5rem;
  --font-size-xlarge: 2rem;

  --border-radius: 4px;
  --border-radius-small: 3px;

  --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  --basic-shadow: rgba(0, 0, 0, 0.6);
  --transition: 0.2s ease-in-out;
}

body {
  margin: 0;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color-dark-heavy);
  color: var(--text-color-light);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: var(--background-color-dark-light);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--accent-bright);
  border-radius: 10px;
  transition: var(--transition);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--highlight-color);
}
